.container-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title-home{
    color: yellow;
    background-color: white;
    font-weight: 800;
    font-size: 60px;
}
